#letter {
    border-style: solid;
    width: 600px;
    height: 300px;
}

#stamp {
    position: fixed;
    left: 530px;
    top: 20px;
}

.address {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}

#sender {
    position: fixed;
    left: 20px;
    top: 20px;
}

#recipient {
    position: fixed;
    left: 250px;
    top: 150px;
}